[user]
  email = christianwaldmann
  name = christianwaldmann
[color]
  ui = true
[alias]
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  filelog = log -u
  follow = log --follow
  cob = checkout -b
  co = checkout
  cp = cherry-pick
  d = diff
  ds = diff --staged
  graph = "log --oneline --decorate --all --graph --simplify-by-decoration"
  graph2 = "log --graph --oneline --decorate"
  c = commit -m
  who = shortlog -n -s --no-merges
  cleanup = !git remote prune origin && git gc && git clean -dfx && git stash clear
  oops = commit --amend --no-edit
  size = count-objects -vH
  uncommit = reset HEAD^
  branches = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short) %(objectname:short) %(authordate:short)%(color:reset) - %(contents:subject) %(color:blue)[%(authorname)]'
  alias = !git config --list | grep ^alias\\. | cut -c 7- | grep -Ei --color \"$1\" "#"
[help]
  autocorrect = 10
[core]
  editor = vim
[mergetool]
  keepBackup = false
[push]
  default = simple
[rerere]
  enabled = false
[init]
	defaultBranch = master
